@font-face {
    font-family: 'Next Art';
    src: url('./NEXT-ART-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Next Art';
    src: url('./NEXT-Art-bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Next Art';
    src: url('./NEXT-ART-Heavy.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Next Art';
    src: url('./NEXT-ART-Light.otf') format('truetype');
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: 'Next Art';
    src: url('./NEXT-ART-SemiBold.otf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}
