@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/next-art/next-art.css';
@import '../fonts/raleway/raleway.css';

@layer utilities {
  .h2-text-black {
    @apply font-nextArt font-semibold text-custom-black text-[54px] leading-[65px]
    max-sm:text-[26px] max-sm:leading-[28px];
  }

  .h2-text-white {
    @apply font-nextArt font-semibold text-white-default text-[54px] leading-[65px]
    max-sm:text-[26px] max-sm:leading-[28px];
  }

  .text-default-16 {
    @apply font-medium  text-[16px] leading-[19px]
    max-sm:text-[14px] max-sm:leading-[17px];
  }

  .text-default-18 {
    @apply font-medium  text-[18px] leading-[21px]
    max-sm:text-[16px] max-sm:leading-[19px];
  }

  .text-normal-18 {
    @apply font-normal text-[18px] leading-[21px];
  }

  .text-default-32 {
    @apply text-[32px] leading-[38px] font-medium
    max-sm:text-[20px] max-sm:leading-[24px];
  }

  .text-semibold-32 {
    @apply text-[32px] leading-[38px] font-semibold
    max-sm:text-[26px] max-sm:leading-[31px];
  }

  .text-doctor-name {
    @apply text-[21px] leading-[28px] font-bold
    max-sm:text-[16px] max-sm:leading-[19px];
  }

  .text-drop-down {
    @apply text-[24px] leading-[29px] font-semibold
    max-sm:text-[16px] max-sm:leading-[19px];
  }

  .text-footer-groups {
    @apply text-[21px] leading-[28px] font-semibold
    max-sm:text-[16px] max-sm:leading-[18px];
  }

  .text-slider-header {
    @apply font-nextArt text-[48px] leading-[52px] font-semibold
    max-sm:text-[26px] max-sm:leading-[31px];
  }

  .text-slider {
    @apply text-[20px] leading-[21px] font-semibold
    max-sm:text-[16px] max-sm:leading-[16px] max-sm:font-medium;
  }
  .text-trigger {
    @apply font-semibold text-[21px] leading-[25px]
    max-sm:text-[14px] max-sm:leading-[17px];
  }

  .text-list {
    @apply font-medium text-[21px] leading-[25px]
    max-sm:text-[14px] max-sm:leading-[17px];
  }

  .text-header-drop {
    @apply text-[20px] leading-[24px] font-medium;
  }

  .text-numbered {
    @apply font-raleway font-semibold text-[36px] leading-[43px]
    max-lg:text-[26px] max-lg:leading-[31px];
  }

  .text-button {
    @apply text-[21px] font-semibold leading-[25px]
    max-sm:text-[16px] max-sm:leading-[19px];
  }

  .text-label {
    @apply text-[21px] font-medium leading-[25px]
    max-sm:text-[18px] max-sm:leading-[22px];
  }

  .text-promotion-header {
    @apply text-[24px] font-bold leading-[29px]
    max-sm:text-[16px] max-sm:leading-[19px];
  }

  .text-footer-req {
    @apply text-[16px] leading-[21px] font-normal
    max-sm:text-[14px] max-sm:leading-[16px];
  }

  /* .text-footer-h1 {
    @apply text-[26px] leading-[60px] font-semibold
  } */
}

:root {
  --font-family: 'Montserrat', 'Raleway', 'Next Art' san-serif;
}
